body {
    font-family: Arial, sans-serif;
    background-image: url('img/45degreee_fabric.png');
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    transition: 0.5s ease-in-out;
}

#header.standard {
    color: #2a2a2a;
}

#header.correct {
    color: rgb(8, 161, 8, 1);
}

#header.wrong {
    color: rgba(255, 0, 0, 1);
}

#card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

#card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: 300px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

#card.standard {
    background-image: url('img/morocco-blue.png');
}

#card.white {
    background-image: url('img/so-white.png');
}

#card.black {
    background-image: url('img/prism.png');
}

#card.correct {
    box-shadow: 0 0 30px rgb(8, 161, 8, 1);
}

#card.wrong {
    box-shadow: 0 0 30px rgba(255, 0, 0, 1);
}

#button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-button {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 30px;
}

#black-button {
    background-image: url('img/prism.png');
}

#white-button {
    background-image: url('img/so-white.png');
}

.mousedown {
    transform: translateX(2px) translateY(2px);
}