html {
    height: 100%;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(270deg, #66ccff, #ffff99);
    background-size: 400% 400%;

    animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#header {
    transition: 0.5s ease-in-out;
    height: 15vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 600px;
}

#header.standard {
    color: #333333;
}

#card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 100%;
}

#card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    aspect-ratio: 9/13;
    text-align: center;
    transition: 0.5s ease-in-out;
}

#card.standard {
    background-image: url('img/morocco-blue.png');
    /* background-image: linear-gradient(254deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

#card.white {
    background-image: url('img/prism-white.png');
}

#card.black {
    background-image: url('img/prism.png');
}

#card.correct {
    box-shadow: 0 0 40px #66CC99;
}

#card.wrong {
    box-shadow: 0 0 50px #FF6666;
    ;
}

#button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    height: 30vh;
}

.card-button {
    height: 50%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#black-button {
    background-image: url('img/prism.png');
    margin-left: 20px;
}

#white-button {
    background-image: url('img/prism-white.png');
    margin-right: 20px;
}

.pressdown {
    transform: translateX(2px) translateY(2px);
}